//Import SASS files
@import 'partials/_basic.scss';


header {
    width: 70%;
    margin: 0 auto;
    height: 250px;
    background: url('/webpack.svg') no-repeat;

    h1 {
        background: white;
        border-bottom: 2px solid #333;
    }
}