@font-face {
    font-family: 'CharukolaUltraLight';
    src: url('../fonts/CharukolaUltraLight.eot');
    src: url('../fonts/CharukolaUltraLight.woff') format('woff'),
         url('../fonts/CharukolaUltraLight.ttf') format('truetype'),
         url('../fonts/CharukolaUltraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CharukolaUltraLight.svg#CharukolaUltraLightUnicode') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0980—09FF ;
  }
  