@font-face {
    font-family: 'CharukolaUltraLight';
    src: url('../fonts/CharukolaUltraLight.eot'); /* IE9 compatible Modes */
    src: url('../fonts/CharukolaUltraLight.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/CharukolaUltraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CharukolaUltraLight.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0980—09FF ;
  }
  